/* 
0 - 600px:      phone
600-900px:      tabled portrait
900-1200px:     tabled landscape
1200px-1800px:  normal styles
1800< :         desktop
*/
/* breakpont arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  padding: 2rem 2rem 0 2rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0;
      margin: 0; } }

html {
  font-size: 100%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 120%; } }
  @media (max-width: 75em) {
    html {
      font-size: 90%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 80%; } }

@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-0.2rem); }
  80% {
    opacity: 1;
    transform: translate(0); } }

.primaryh1 {
  color: #f1eef7;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .primaryh1 .primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    margin-bottom: 1rem; }
    @media (max-width: 37.5em) {
      .primaryh1 .primary--main {
        letter-spacing: 0.5rem;
        font-size: 1.6rem; } }
  .primaryh1 .primary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .primaryh1 .primary--sub {
        letter-spacing: 0.3rem;
        font-size: 1rem; } }

.secundary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, #c56461, #533332);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  letter-spacing: 0.2rem;
  padding-top: 2rem; }
  @media (max-width: 56.25em) {
    .secundary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .secundary {
      font-size: 2rem;
      padding-top: 0.5rem; } }
  @media (max-width: 28.125em) {
    .secundary {
      font-size: 1.6rem; } }
  .secundary:hover {
    transform: skewY(0.4deg) skewX(1deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(83, 51, 50, 0.3); }

.quaternary {
  font-size: 2rem;
  color: #f7f7f7;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.2; }

.tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media (max-width: 56.25em) {
    .tertiary {
      font-size: 1rem; } }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
    @media (max-width: 28.125em) {
      .paragraph:not(:last-child) {
        margin-bottom: 1rem; } }
  .paragraph--two {
    margin-bottom: 1rem; }

body {
  font-family: "Merriweather", Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f1eef7;
  color: #533332; }

hr {
  border-width: 0;
  height: 0.2rem;
  background-color: #eeb9c7;
  margin-bottom: 1rem; }

.about {
  display: inline;
  font-size: 2rem;
  font-family: Verdana, sans-serif;
  color: #000; }

.fav {
  height: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin: 0 0 1rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 0.6rem; } }
  @media (max-width: 28.125em) {
    .u-margin-bottom-small {
      margin-bottom: 0.2rem; } }

.u-margin-bottom-def {
  margin-bottom: 1.7rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-def {
      margin-bottom: 0.7rem; } }
  @media (max-width: 28.125em) {
    .u-margin-bottom-def {
      margin-bottom: 0.3rem; } }

.u-margin-bottom-medium {
  margin: 0 0 2.5rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 2.5rem; } }
  @media (max-width: 28.125em) {
    .u-margin-bottom-big {
      margin-bottom: 1.5rem; } }

.u-margin-top {
  margin-top: 1rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  opacity: 0.5;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  transition: all 0.8s ease;
  position: relative;
  font-size: 1rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  padding: 0.7rem 2.3rem;
  margin-top: 0.6rem;
  opacity: 1; }

.btn:active, .btn:focus {
  transform: translateY(0.2rem);
  outline: none; }

.btn--primary {
  background-color: #c56461;
  display: inline-block;
  opacity: 0.7;
  color: #533332; }
  .btn--primary:hover {
    box-shadow: 0.5rem 0.4rem 0.6rem rgba(197, 100, 97, 0.6); }
  .btn--primary:active {
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(197, 100, 97, 0.9); }

.btn--white {
  background-color: #f1eef7;
  display: inline-block; }
  .btn--white-1 {
    color: #c56461; }
    .btn--white-1:hover {
      box-shadow: 0.5rem 0.4rem 0.6rem rgba(197, 100, 97, 0.6); }
    .btn--white-1:active {
      box-shadow: 0.3rem 0.2rem 0.3rem rgba(197, 100, 97, 0.9); }
  .btn--white-2 {
    color: #a6b8e1; }
    .btn--white-2:hover {
      box-shadow: 0.5rem 0.4rem 0.6rem rgba(100, 129, 197, 0.6); }
    .btn--white-2:active {
      box-shadow: 0.3rem 0.2rem 0.3rem #6481c5; }
  .btn--white-3 {
    color: #8e9f91; }
    .btn--white-3:hover {
      box-shadow: 0.5rem 0.4rem 0.6rem rgba(64, 102, 71, 0.6); }
    .btn--white-3:active {
      box-shadow: 0.3rem 0.2rem 0.3rem #406647; }

.btn-text:link, .btn-text:visited {
  opacity: 0.5;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
  color: #c56461;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 0.1rem solid rgba(197, 100, 97, 0.5);
  margin-bottom: 0.1rem; }

.btn-text:hover {
  opacity: 1;
  border-bottom: 0.2rem solid rgba(197, 100, 97, 0.9);
  transition: all 0.2s;
  margin-bottom: 0; }

.btn-text:active {
  transform: translateY(0.1rem);
  border-bottom: 0.1rem solid rgba(197, 100, 97, 0.9);
  margin-bottom: 0.1rem; }

.card {
  position: relative;
  height: 30rem; }
  .card__side {
    height: 30rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    overflow: hidden; }
    .card__side--front {
      background-color: #f7f7f7; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(238, 185, 199, 0.7), rgba(197, 100, 97, 0.7)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(166, 184, 225, 0.7), rgba(100, 129, 197, 0.7)); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(142, 159, 145, 0.7), rgba(64, 102, 71, 0.7)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 30vh;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(238, 185, 199, 0.85), rgba(197, 100, 97, 0.85)), url(../IMG/flamingo5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(166, 184, 225, 0.85), rgba(100, 129, 197, 0.85)), url(../IMG/flamingo4.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(142, 159, 145, 0.85), rgba(64, 102, 71, 0.85)), url(../IMG/flam1.jpg); }
  .card__heading {
    position: absolute;
    bottom: 19rem;
    right: 0.7rem; }
    @media (max-width: 56.25em) {
      .card__heading {
        bottom: 18rem; } }
  .card__heading-span {
    padding: 0 0.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom right, rgba(238, 185, 199, 0.7), rgba(197, 100, 97, 0.7)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(166, 184, 225, 0.7), rgba(100, 129, 197, 0.7)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(142, 159, 145, 0.7), rgba(64, 102, 71, 0.7)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 3rem auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1rem;
      padding: 0.3rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 0.1rem solid #c4c4c4; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 4rem;
    color: white; }
  .card__price-only {
    font-size: 1rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto; }
      .card__side {
        height: auto;
        position: relative;
        border-radius: 0.5rem 0.5rem 0 0; }
        .card__side--back {
          transform: rotateY(0); } }
      @media (max-width: 56.25em) and (max-width: 56.25em) {
        .card__side--back {
          border-radius: 0 0 0.5rem 0.5rem; } }
  @media (max-width: 56.25em) {
          .card__side--back-1 {
            background-image: linear-gradient(to right bottom, rgba(238, 185, 199, 0.7), rgba(197, 100, 97, 0.7)); }
          .card__side--back-2 {
            background-image: linear-gradient(to right bottom, rgba(166, 184, 225, 0.7), rgba(100, 129, 197, 0.7)); }
          .card__side--back-3 {
            background-image: linear-gradient(to right bottom, rgba(142, 159, 145, 0.7), rgba(64, 102, 71, 0.7)); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        transform: rotateY(0);
        padding: 2rem 0; }
      .card__price-box {
        margin-bottom: 2rem;
        color: white; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.4rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.7rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); } }
    @media (max-width: 28.125em) {
      .composition__photo {
        outline-offset: 0.3rem; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0; } }
      @media (max-width: 28.125em) {
        .composition__photo--p1 {
          top: 0; } }
    .composition__photo--p2 {
      right: 0;
      top: 3rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 2rem;
          z-index: 10;
          transform: scale(1.1); } }
      @media (max-width: 28.125em) {
        .composition__photo--p2 {
          top: 0;
          transform: scale(1); } }
    .composition__photo--p3 {
      left: 4rem;
      top: 9rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 0;
          top: -0.5rem;
          z-index: 5;
          transform: scale(1.1); } }
      @media (max-width: 28.125em) {
        .composition__photo--p3 {
          top: 0;
          transform: scale(1); } }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 15;
      outline: 0.7rem solid #c56461; }
      @media (max-width: 28.125em) {
        .composition__photo:hover {
          transform: scale(1.05) translateY(-0.5rem);
          box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
          z-index: 15;
          outline: 0.3rem solid #c56461; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(241, 238, 247, 0.7);
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.3rem;
  text-align: center;
  height: 14rem;
  transition: transform 0.3s;
  float: none; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 0.5rem;
      height: 6rem;
      width: 30rem;
      margin: 0 auto; } }
  @media (max-width: 28.125em) {
    .feature-box {
      padding: 0.5rem 0 1rem;
      width: 20rem; } }
  .feature-box:not(:last-child) {
    margin-right: calc(4rem / 4); }
  .feature-box:hover {
    transform: translateY(-0.6rem) scale(1.03); }
  .feature-box__icon {
    font-size: 2rem;
    background-image: linear-gradient(to right, #c56461, #533332);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        font-size: 1.6rem; } }
  .feature-box__text {
    font-size: 1rem; }
    @media (max-width: 56.25em) {
      .feature-box__text {
        font-size: 0.8rem; } }

.story {
  width: 75%;
  margin: 2rem auto;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  background-color: rgba(241, 238, 247, 0.4);
  border-radius: 3px;
  padding: 3rem;
  padding-left: 9rem;
  font-size: 1rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 80%;
      padding: 1.5rem 1.5rem 2.5rem 5rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0);
      width: 70%; } }
  .story__shape {
    width: 9rem;
    height: 9rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transition: all 0.5s ease; }
    .story__img--1 {
      transform: scale(1.2); }
    .story__img--2 {
      transform: translateY(0.5rem) scale(1.2); }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #f1eef7;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    opacity: 0; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 1s ease; }
  .story:hover .story__img {
    transition: all 0.5s ease;
    transform: scale(1.1);
    filter: blur(0.1rem) brightness(90%); }
    .story:hover .story__img--2 {
      transform: translateY(0.5rem) scale(1.1); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.25; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 0.6rem; }

.form__input {
  font-size: 0.8rem;
  font-family: inherit;
  color: inherit;
  padding: 0.7rem 0.8rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 0.2rem solid transparent;
  display: block;
  width: 70%;
  transition: all 0.5s ease; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    border-bottom: 0.2rem solid #c56461; }
    .form__input:focus:invalid {
      border-bottom: 0.2rem solid #a6b8e1; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 0.77rem;
  display: block;
  margin-top: 0.4rem;
  transition: all 0.5s ease; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.3rem); }

.form__radio-group {
  width: 40%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 0.8rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem; }

.form__radio-button {
  height: 0.8rem;
  width: 0.8rem;
  border: 0.15rem solid #c56461;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.14rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c56461;
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
  transition: 0.2s; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(238, 185, 199, 0.74), rgba(197, 100, 97, 0.74)), url(../IMG/flamo.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 1rem 1rem 0 0; }
  @media (max-width: 56.25em) {
    .header {
      border-radius: 0; } }
  .header__headerbox {
    text-align: center;
    position: relative;
    top: 12rem;
    box-sizing: border-box; }
  .header__logobox {
    position: absolute;
    top: 2rem;
    left: 1.2rem;
    z-index: 200; }
  .header__logo {
    width: 3rem; }
    .header__logo:hover {
      opacity: 0.5; }
    .header__logo:active {
      width: 3rem;
      opacity: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 90%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 2rem;
          margin-bottom: 2rem; } }
      @media (max-width: 28.125em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media (max-width: 28.125em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 4 * 4rem) / 4); }

.footer {
  background-color: #444;
  padding: 2rem 2rem;
  font-size: 0.8rem;
  color: #c4c4c4; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 1rem 0; } }
  .footer__copyright {
    border-top: 0.1rem solid #999;
    padding-top: 0.3rem;
    display: inline-block;
    margin-left: 1.5rem; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        float: none;
        margin-left: 0;
        border-top: none; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 1.5rem; }
  .footer__logo {
    width: 4rem;
    height: auto; }
  .footer__navigation {
    border-top: 0.1rem solid #999;
    padding-top: 0.3rem;
    margin-right: 1.5rem;
    text-align: center;
    width: auto;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        float: none;
        border-top: none; } }
  .footer__list {
    list-style: none;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__list {
        width: 100%;
        text-align: center;
        float: none; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1rem; }
  .footer__link {
    transition: all 0.5s ease;
    background-color: #444;
    border-bottom: 0.15rem solid transparent; }
    .footer__link:link, .footer__link:visited {
      color: #c4c4c4;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block; }
    .footer__link:hover, .footer__link:active {
      transition: all 0.5s ease;
      color: #c56461;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      transform: scale(1.1) translateY(-0.2rem);
      border-bottom: 0.15rem solid #c56461; }
      .footer__link:hover:active, .footer__link:active:active {
        transform: translateY(0); }

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#c4afb8, #fd9793);
  z-index: 50;
  transition: all 1s cubic-bezier(0.83, 0, 0.17, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__button {
  text-align: center;
  position: fixed;
  background-color: #f1eef7;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  top: 4rem;
  right: 4rem;
  z-index: 100;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 75;
  opacity: 0;
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.2); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }
  @media (max-width: 37.5em) {
    .navigation__list {
      width: 80%; } }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  transition: all 0.5s ease;
  display: block; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.6rem;
    font-weight: 300;
    color: #f1eef7;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-size: 210%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f1eef7 50%); }
    .navigation__link:link .span, .navigation__link:visited .span {
      display: inline-block;
      margin: 1rem; }
    @media (max-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        background-size: 250%; } }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #c56461;
    transform: translateX(0.5rem); }

.navigation__icon {
  position: relative;
  margin-top: 2rem;
  right: 1rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 1.5px;
    background-color: #999;
    display: inline-block;
    position: absolute; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    left: 0;
    transition: all 1s; }
  .navigation__icon::before {
    top: -0.7rem; }
  .navigation__icon::after {
    top: 0.7rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 0.8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #eeeaf5;
  padding: 2rem 2rem 4rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 1rem 0 8rem; } }

.section-features {
  padding: 10rem 2rem 0;
  background-image: linear-gradient(to right, rgba(238, 185, 199, 0.74), rgba(197, 100, 97, 0.74)), url(../IMG/flamingo3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 70vh;
  margin-top: -3.5rem;
  transform: skewY(-4deg); }
  .section-features > * {
    transform: skewY(4deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 5rem 1rem 6rem;
      height: 100%; } }

.section-course {
  background-color: #eeeaf5;
  padding: 4rem 2rem 3rem 2rem;
  margin-top: -3.5rem; }
  @media (max-width: 56.25em) {
    .section-course {
      padding: 4rem 1rem 2rem 1rem;
      margin-top: -2.5rem; } }

.section-stories {
  padding: 1rem 0 5rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 0.5rem 0 2rem; } }

.section-book {
  padding: 5rem 2rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(238, 185, 199, 0.4), rgba(197, 100, 97, 0.6)); }

.book {
  margin: 0 auto;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../IMG/flam3.jpg);
  background-size: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  width: 70%; }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../IMG/flam3.jpg);
      width: 100%;
      background-size: cover; } }
  @media (max-width: 37.5em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../IMG/flam3.jpg);
      width: 100%;
      background-size: cover; } }
  .book__form {
    width: 50%;
    padding: 1.3rem 2rem; }
    @media (max-width: 37.5em) {
      .book__form {
        width: 100%; } }
