.navigation {
  &__background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient($color-primary-light-2, $color-primary-2);
    z-index: 50;
    transition: all 1s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(60);
  }

  &__button {
    text-align: center;
    position: fixed;
    background-color: $color-light;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    top: 4rem;
    right: 4rem;
    z-index: 100;
    box-shadow: $shadow-link;
    cursor: pointer;
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 75;
    opacity: 0;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.2);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__list {
    @include center;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    transition: all 0.5s ease;
    display: block;

    &:link,
    &:visited {
      font-size: $def-font;
      font-weight: 300;
      color: $color-light;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      background-size: 210%;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-light 50%
      );

      .span {
        display: inline-block;
        margin: 1rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(0.5rem);
    }
  }

  //   ICON
  &__icon {
    position: relative;
    margin-top: 2rem;
    right: 1rem;

    &,
    &::before,
    &::after {
      width: 2rem;
      height: 1.5px;
      background-color: $color-grey-dark;
      display: inline-block;
      position: absolute;
    }

    &::before,
    &::after {
      content: "";
      left: 0;
      transition: all 1s;
    }

    &::before {
      top: -0.7rem;
    }
    &::after {
      top: 0.7rem;
    }
  }

  &__button:hover &__icon::before {
    top: -0.8rem;
  }

  &__button:hover &__icon::after {
    top: 0.8rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
