.feature-box {
  background-color: rgba($color-light, 0.7);
  font-size: $font-small;
  padding: 1.5rem;
  border-radius: 0.3rem;
  text-align: center;
  height: 14rem;
  transition: transform 0.3s;
  float: none;

  @include respond(tab-port) {
    padding: 0.5rem;
    height: 6rem;
    width: 30rem;
    margin: 0 auto;
  }

  @include respond(small-phone) {
    padding: 0.5rem 0 1rem;
    width: 20rem;
  }

  &:not(:last-child) {
    margin-right: calc(#{$gutter-horizontal} / 4);
  }

  &:hover {
    transform: translateY(-0.6rem) scale(1.03);
  }
  &__icon {
    font-size: $font-big;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-dark
    );
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      font-size: $def-font;
      width: 3rem;
    }
  }

  &__text {
    font-size: $font-small;

    @include respond(tab-port) {
      font-size: $font-mini;
    }
  }
}
