.story {
  width: 75%;
  margin: 2rem auto;
  box-shadow: $shadow;
  background-color: rgba($color-light, 0.4);
  border-radius: 3px;
  padding: 3rem;
  padding-left: 9rem;
  font-size: $font-small;
  transform: skewX(-12deg);

  &__shape {
    width: 9rem;
    height: 9rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    transition: all 0.5s ease;

    &--1 {
      transform: scale(1.2);
    }

    &--2 {
      transform: translateY(0.5rem) scale(1.2);
    }
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-light;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-small;
    opacity: 0;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
  }

  &:hover &__img {
    transition: all 0.5s ease;
    transform: scale(1.1);
    filter: blur(0.1rem) brightness(90%);

    &--2 {
      transform: translateY(0.5rem) scale(1.1);
    }
  }
}
