*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 2rem 2rem 0 2rem;
  @include respond(tab-port) {
    padding: 0;
    margin: 0;
  }
}

html {
  // //  defines 1rem
  // font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-size: 100%;
  @include respond(big-desktop) {
    font-size: 120%; //1rem = 12px
  }
  @include respond(tab-land) {
    font-size: 90%; //1rem = 9px = 56.25%
  }
  @include respond(tab-port) {
    font-size: 80%; //1rem = 8px = 8/16 = 50%
  }
  // @include respond(phone) {
  //   font-size: 60%; //1rem = 12px
  // }
}
