.u-center-text {
  text-align: center;
}
.u-margin-bottom-small {
  margin: 0 0 1rem;

  @include respond(tab-port) {
    margin-bottom: 0.6rem;
  }
}
.u-margin-bottom-def {
  margin-bottom: 1.7rem;

  @include respond(tab-port) {
    margin-bottom: 0.7rem;
  }
}

.u-margin-bottom-medium {
  margin: 0 0 2.5rem;
}
.u-margin-bottom-big {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 2.5rem;
  }
}
.u-margin-top {
  margin-top: 1rem;
}
