.u-center-text {
  text-align: center;
}
.u-margin-bottom-small {
  margin: 0 0 1rem;
}
.u-margin-bottom-medium {
  margin: 0 0 2.5rem;
}
.u-margin-bottom-big {
  margin: 4rem 0 4rem;
}
.u-margin-top {
  margin-top: 1rem;
}
